
<div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Unit Price</th>
			<th>Quantity</th>
		</tr>
	</thead>
<tr>
	<tbody>
		<tr>
			<td><%= shopping_cart_item.item.name %></td>
			<td><%= shopping_cart_item.item.formatted_price%></td>
			<td>
			<%= link_to controller: "shopping_carts", action: 'remove_item', product_id: shopping_cart_item.item.id do%><i class="fa fa-minus"></i><%end%>  <%= shopping_cart_item.quantity%>   <%= link_to controller: "shopping_carts", action: 'update_quantity', product_id: shopping_cart_item.item.id do%><i class="fa fa-plus"></i><%end%></td>
	</tr>
	</tbody>
</table>
</div>