<h1>Shopping Cart</h1>

<%= render :partial => 'shopping_cart_item', 
:collection => @shopping_cart.shopping_cart_items %>

<img src="/shop_cart.png">
<table class="table table-striped">
	<thead>
		<tr>
			<th ><b>SubTotal:</b></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= number_to_currency @shopping_cart.subtotal %></td>
		</tr>
		<tr>
			<td><span class="label label-default"><b>FL Taxes:</b><span></td>
		</tr>
		<tr>
			<td><%= number_to_currency @shopping_cart.taxes %></td>	
		</tr>
		<tr>
			<td><b>Total:</b></td>
		</tr>
		<tr>
			<td><%= number_to_currency @shopping_cart.total %></td>
		</tr>
	</tbody>
</table>

<span style="float: right">
<%= link_to products_path do %><button type="button" class="btn btn-default">Shop More</button><%end%>
<button type="button" class="btn btn-primary">Check Out</button>
</span>





