<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://roshfild.ch/en/upload/assets/images_for_pages/discount-deals.jpg" alt="Here is a great deal">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="http://tvinternetdeals.com/wp-content/uploads/2012/02/get-deals-online.jpg" alt="Here is another">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <i class="fa fa-angle-double-left"></i>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <i class="fa fa-angle-double-right"></i>
  </a>
</div>

<div id="featured_products">
<h2>Featured Products</h2>

<img src="http://cdn.iofferphoto.com/img/item/576/002/994/l_st-louis-brown-mens-leather-square-sneakers-plaid-shoes-8d15.jpg" alt="..." width="200" class="img-circle">
<img src="http://i751.photobucket.com/albums/xx157/discountsportsgear/Nixon/23301b.jpg" width="200" alt="..." class="img-circle">
<img src="http://www.varanitux.com/images/shoes/black-square-toe.jpg" width="200" alt="..." class="img-circle">

<br>


</div>
<div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                  <% @products.each do |product| %>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                  
                          <%= link_to product do %>
                          <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                             
                                <h4><a href="#"><%= product.name %></a>
                                </h4>
                                
                            </div>
                            <div class="ratings">
                              <p class="pull-right"><%=product.reviews.length%> reviews</p>
                              <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                              </p>
                            </div>
                         <h5><%= product.formatted_price %></h5>
                        </div>
                        
                      <% end %>
                        
                    </div>
                  <% end %>

                  
            </div>
                    <h6><%= link_to 'See our products', products_path %></h6> 
        </div>