<div class="col-md-5" style="float:left">
<p>
	<%= image_tag @product.avatar.url(:medium) %>
</p>

<h2><%= @product.name %></h2>

<h4>Product Description:</h4>
<p><%= @product.description %></p>

<h4>Price:</h4>
<p><%= @product.formatted_price %></p>

<%= link_to shopping_cart_path(:product_id => @product), :method => 'POST' do %><button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>  Add to Cart</button><%end%>

<%= link_to products_path do %><button type="button" class="btn btn-default">Shop More</button><%end%>

</div>

<div class="col-md-7" style="float:right">
<h3>Reviews</h3>
<% @product.reviews.each do |review| %>
<p>
<%= review.comment %>
<br>
Added: <%= time_ago_in_words review.created_at %> ago
</p>
<% end %>

<h3>New Review</h3>
<%= render 'reviews/form' %>
</div>

<div style="clear:both">
	<br><br><br><br>
<%= link_to 'Edit', edit_product_path(@product) %> 
</div>
