<h1> Reviews </h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>
<p>
	<img src="/shop_cart.png">
<p>
  <strong>Product:</strong>
  <%= @review.product %>
</p>
<% if @review.product.nil? %>
<%= link_to 'Back', reviews_path %>
<% else %>
<%= link_to 'Back', @review.product %>
<% end %>